*, *:before, *:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0px;
  font-family: 'Open Sans', 'sans-serif';
  background-color: #fff;
  color: #444;
}

h1, p {
  vertical-align:middle;
  margin: 0 0 1em 0;
}

.content {
  float: right;
  background-color: aliceblue
}

/* make a grid */
.wrapper {
  display: grid;
  width: 100vw;
  height: 100vh;

  grid-template-columns: [row] (auto, min-content);

  grid-template-rows: 
    [header] 30vh
    [content] 20vh
    [footer] 50vh;
}

.wrapper > * {
  background-color: #444;
  color: #fff;
  border-radius: 2px;
  padding: 0px;
  font-size: 150%;
  /* needed for the floated layout*/
  margin-bottom: 10px;
}

.header {
  background: white;
}

.header>img {
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}

.footer{
  /* needed for the floated layout */
  clear: both;
  background-color: #444
}


/* We need to set the widths used on floated items back to auto, and remove the bottom margin as when we have grid we have gaps. */
@supports (display: grid) {
  .wrapper > * {
    width: auto;
    margin: 0;
  }
}
