.column {
  display: grid;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  grid-template-columns: [row] (auto, min-content);

  grid-template-rows: 
    [map] 40vh
    [describe] 60vh
}


.title_container {
  height: 20%;
  display: flex;
  flex-direction: column;
}
.title {
  color: white;
  font-size: 35px;
  margin-top: 20px;
  margin-left: 10px;
  height: 20%;
}

.description {
  height: 80%;
  display: flex;
  justify-content: center;
}

.switch {
  color: white;
  width: 25%;
  height: 50px;
}

.map {
  display: flex;
  flex-direction: column;
}

.map_view {
  height: 80%;
  background-color: black;
}
.map_buttons {
  display: flex;
  flex-direction: row;
  height: 20%;
  background: white;
}

.switch {
  border: black;
  border-style: groove;
  border-width: 1px;
  height: 100%;
}


.container {
  background-color: white;
  width: 92%;
  height: 96%;
}

.container_text {
  margin: 4%;
  font-size: 28px;
}

.switch > * {
  width: 100%;
  height: 100%;
  
}
.switch1 {
  background-image: "../images/a1.png"
}
.switch2 {
  background-image: "../images/a2.png"}
.switch3 {
  background-image: "../images/a3.png"}
.switch4 {
  background-image: "../images/a4.png";
}
