html, body{
  margin: 0;
}
body {
  background-image:    url(../images/bg.png);
  background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: center center;    
  background-color: black;
  height: 100vh;

}
.column {
  display: grid;
  width: 100vw;
  height: 100vh;

  grid-template-columns: [row] (auto, min-content);

  grid-template-rows: 
    [title] 40vh
    [community] 20vh
    [explore] 40vh;

}
button {
  background-color: white;
  border-radius: 10px;
  padding: 2%;
}

.wide {
  width: 90%;
}

.narrow {
  width: 40%;
}

select {
  background-color: white;
  width: 80%;
  height: 40px;
 
}

.title {
  display:flex;
  flex-direction: column;
  justify-content: center;

}
.row {
  width: 100%;
  margin: 0;
}

.community {
  display:flex;
  justify-content: center;
  flex-direction: column;

}

.explore {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 50%;
}

.split {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.one {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.text {
  margin-left: 10%;
  color : white;
  font-size: x-large;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
