*, *:before, *:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0px;
  font-family: 'Open Sans', 'sans-serif';
}

.wrapper {
  display: grid;
  width: 100vw;
  height: 100vh;

  grid-template-columns: [row] (auto, min-content);

  grid-template-rows: 
    [map] 40vh
    [row_title] 10vh
    [scroll_list] 50vh
}

.map {
  color: black;
  height: 100%;
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.mocked_edible_plant_test {
  color: black;
  height: 30%;
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
  border: 1px;
  border-style: groove;
}

.image, .text{
  display: flex;
  align-items: center;
  justify-content: center;
}
.text {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.row_title {
  height: 20%;
  display: flex;
  flex-direction: column;
}

.title {
  color: white;
  font-size: 45px;
  margin-top: 20px;
  margin-left: 10px;
  height: 20%;
}

div.scroll_list {
  color: black;
  height: 100%;
  background-color: white;
  overflow: auto;
  width: 100%;
  overflow: auto;  
}

.buttons{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 100%; 
  background-color: white;
}

.switch {
  color: white;
  width: 25%;
  height: 50px;
}

.button {
  background-color:white; /* Green */
  border: 10px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.mocked_edible_plant{
  color: black;
  height: 40%;
  background-color: rgb(23, 131, 219);
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.buttons_container {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

img {
  height: 50px;
  width: 50px;
}


.description {
  font-size: 10px;
}








